<!--Client view for mobile devices-->
<!DOCTYPE html>
<html lang="en">
<%- include('header'); -%>
<body>
<main>
    <div>
        <div class="container" id="dashboard" style="position: relative; min-height: 200px">
            <div v-if="connected">
                <p>Dashboard</p>
                
                <div v-if="errorMessage"><%- include('error') %></div>
                <div v-if="successMessage"><%- include('success') %></div>
                
                <!-- Main view -->
                <div v-if="hasRepoData">
                    <!-- TITLE CARD-->
                    <%- include('cards/titleCard') %>
                    
                    <div v-if="state==='stats'">
                        <%- include('stats')%>
                    </div>
<!--                    <div v-else-if="state==='commits">-->
<!--                        -->
<!--                    </div>-->
                    
                    
                    
                    
                    
                    
                </div>
                
            </div>
            <div v-else>
                <p style="text-align: center">Connecting...</p>
            </div>
        </div>
    </div>
</main>
<%- include('footer') %>
</body>
</html>